# dependencies
**/node_modules

# environment variables
**/.env

# build output
**/dist
**/build

# IDE
.vscode/

# Python virtual environment
ml/.venv/
server/uploads/

# Python cache
__pycache__/
*.pyc
